@font-face {
  font-family: Spartan;
  src: url("../../../assets/fonts/Spartan.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: Teko;
  src: url("../../../assets/fonts/Teko-Regular.ttf") format("truetype");
}
