<!--
  <div class="Background_photo_page_1" style="top: 0px;bottom: 0px; right:0px;left:0px;"></div>

  <div class="place_boxes font-sans font-light text-2xl m-4  text-black bg-gray-100 shadow-md text-center p-2">Grid testing system</div>

<div class="grid-wrapper ml-3 mr-3 mt-5  justify-items-center">
  <div class=" place_boxes onediv shadow-md box-border h-10 min-w-full    self-center   p-4 inset-0 flex items-center justify-center text-xl text-black bg-purple-100 content-center ">
   1

  </div>
  <div class="place_boxes twodiv shadow-md box-border h-10 min-w-full    self-center   p-4 inset-0 flex items-center justify-center text-xl text-black bg-purple-100 content-center ">
Main Heading
  </div>
  <div class="place_boxes threediv box-border h-10 min-w-full   shadow-md  self-center   p-4 inset-0 flex items-center justify-center text-xl text-black bg-purple-100 content-center ">
3
  </div>
  <div class="place_boxes fourdiv  inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100 ">
4
</div><div class="place_boxes fivediv box-border inset-0 font-sans justify-center text-2xl flex items-center h-32 w-32 min-h-full min-w-full p-4 bg-purple-100 content-center">
5
</div><div  class="place_boxes  sixdiv box-border inset-0 font-sans  justify-center text-2xl flex items-center shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100  ">
6
</div><div  class=" place_boxes sevendiv  inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100   ">
7

        <app-simplistic-timer minutes="12" seconds="04">
        </app-simplistic-timer>

</div><div class="place_boxes eightdiv  inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100  ">


        <app-simplistic-timer minutes="12" seconds="04">
        </app-simplistic-timer>


</div><div class="ninediv place_boxes  inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100">
9
</div><div class="tendiv place_boxes  inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100">
  10
</div><div class="elevendiv place_boxes  inset-0 font-sans text-2xl justify-center flex items-center box-border shadow-md h-32 w-32 min-h-full min-w-full p-4  content-center bg-purple-100">
11
</div>
</div>

<div class="  gridfooter">
<div class="footer">
  <div class="twelvediv mt-4 shadow-2xl box-border shadow-md  w-32 min-h-full  min-w-full p-4 inset-0 font-sans text-3xl flex items-center justify-center text-xl text-white content-center bg-gray-800  ">
Footer
  </div>
</div>
</div> -->





      <app-simplistic-timer minutes="1" seconds="10">
      </app-simplistic-timer>
 


<!--
<app-testingflipfunctions minutes="1" seconds="4">
</app-testingflipfunctions> -->
