<!-- <app-red-circle-timer minutes="1" seconds="12">
</app-red-circle-timer> -->
<!-- <app-simplistic-timer minutes="1" seconds="14"  >
</app-simplistic-timer> -->
<!-- FORMAT TO SET A DIV AROUND THE TIMER AND MAKE IT FILL IT -->
<div style="width:1600px;height:1600px;border:1px solid black;">
  <app-simplistic-timer minutes="1" seconds="30">
  </app-simplistic-timer>
</div>

<div style="width:1600px;height:1600px;border:1px solid black;">
  <app-analog-timer style="height: 100%; width: 100%;"></app-analog-timer>
</div>
