<div   #svgDiv style="height:100%;">

  <svg width=100% height=100%  [attr.viewBox]="viewBoxDimensions">


    <g [attr.transform]="baseTransform">


    <text y="50" transform="translate(100)" font-family="FjallaRegular">
         <tspan  x="15" text-anchor="middle"  dy="94" >
           <tspan fill="#e1502e" font-size="50px">{{countdownObject.minutes}}</tspan>
           <tspan fill="#e1502e" fill-opacity="0.7" font-size="11.5px">:</tspan>
           <tspan *ngIf="showzero" fill="#e1502e" fill-opacity="0.7" font-size="11.5px">0</tspan>
           <tspan fill="#e1502e" fill-opacity="0.7" font-size="11.5px">{{countdownObject.seconds}}s</tspan>
       </tspan>
     </text>
  <g
     inkscape:groupmode="layer"
     id="layer6"
     inkscape:label="Sub Nodes New"
     style="display:inline">
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-6"
       width="0.78352135"
       height="6.2657533"
       x="103.38657"
       y="67.917336"
       transform="matrix(-0.23353187,0.97234915,0.98017033,0.1981568,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-1"
       width="0.78352135"
       height="6.2657533"
       x="87.92112"
       y="76.898743"
       transform="matrix(-0.32600036,0.94536965,0.95655806,0.29154189,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-8"
       width="0.78352135"
       height="6.2657533"
       x="67.582962"
       y="87.989357"
       transform="matrix(-0.46154202,0.88711835,0.90325478,0.42910466,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-7"
       width="0.78352135"
       height="6.2657533"
       x="46.823444"
       y="93.830887"
       transform="matrix(-0.55401782,0.83250481,0.85202687,0.52349806,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-9"
       width="0.78352135"
       height="6.2657533"
       x="25.254877"
       y="98.730965"
       transform="matrix(-0.67205256,0.74050345,0.76436151,0.64478794,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-20"
       width="0.78352135"
       height="6.2657533"
       x="10.236691"
       y="99.858421"
       transform="matrix(-0.72702818,0.68660762,0.71249246,0.70167977,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-23"
       width="0.78352135"
       height="6.2657533"
       x="-7.9891744"
       y="99.7771"
       transform="matrix(-0.7903479,0.6126583,0.64088532,0.76763664,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-75"
       width="0.78352135"
       height="6.2657533"
       x="-42.007671"
       y="93.965897"
       transform="matrix(-0.90116026,0.43348609,0.4658447,0.8848665,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-92"
       width="0.78352135"
       height="6.2657533"
       x="-60.624489"
       y="87.194221"
       transform="matrix(-0.94733886,0.32023286,0.35433854,0.93511721,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-28"
       width="0.78352135"
       height="6.2657533"
       x="-79.972809"
       y="77.97049"
       transform="matrix(-0.97931091,0.20236143,0.23770261,0.97133798,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-97"
       width="0.78352135"
       height="6.2657533"
       x="-92.675858"
       y="72.919853"
       transform="matrix(-0.98936475,0.14545581,0.18119851,0.98344654,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-3"
       width="0.78352135"
       height="6.2657533"
       x="119.27593"
       y="50.987328"
       transform="matrix(-0.08168965,0.99665782,0.9989628,0.04553369,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-6-6"
       width="0.78352141"
       height="6.2657533"
       x="-149.33424"
       y="7.4130359"
       transform="matrix(-0.23353187,-0.97234915,0.98017033,-0.1981568,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-1-7"
       width="0.78352129"
       height="6.2657533"
       x="-157.74425"
       y="-7.6634007"
       transform="matrix(-0.32600035,-0.94536965,0.95655806,-0.29154189,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-8-5"
       width="0.78352141"
       height="6.2657533"
       x="-164.328"
       y="-31.656412"
       transform="matrix(-0.46154202,-0.88711835,0.90325478,-0.42910466,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-7-3"
       width="0.78352135"
       height="6.2657533"
       x="-172.35605"
       y="-49.885944"
       transform="matrix(-0.55401781,-0.83250481,0.85202687,-0.52349805,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-9-5"
       width="0.78352141"
       height="6.2657533"
       x="-171.1814"
       y="-75.458153"
       transform="matrix(-0.67205256,-0.74050345,0.76436151,-0.64478794,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-20-6"
       width="0.78352129"
       height="6.2657533"
       x="-174.15372"
       y="-88.78643"
       transform="matrix(-0.72702818,-0.68660762,0.71249246,-0.70167976,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-23-2"
       width="0.78352141"
       height="6.2657533"
       x="-173.63736"
       y="-105.27463"
       transform="matrix(-0.79034791,-0.61265829,0.64088532,-0.76763664,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-75-9"
       width="0.78352129"
       height="6.2657533"
       x="-162.28442"
       y="-139.80212"
       transform="matrix(-0.90116026,-0.43348609,0.4658447,-0.88486649,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-92-1"
       width="0.78352129"
       height="6.2657533"
       x="-151.6436"
       y="-158.49986"
       transform="matrix(-0.94733886,-0.32023286,0.35433854,-0.93511721,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-28-2"
       width="0.78352141"
       height="6.2657533"
       x="-141.09874"
       y="-175.98102"
       transform="matrix(-0.97931091,-0.20236143,0.23770261,-0.97133798,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-97-7"
       width="0.78352129"
       height="6.2657533"
       x="-139.04581"
       y="-183.70268"
       transform="matrix(-0.98936475,-0.14545581,0.18119851,-0.98344654,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-3-0"
       width="0.78352141"
       height="6.2657533"
       x="-137.58499"
       y="29.776939"
       transform="matrix(-0.08168965,-0.99665782,0.9989628,-0.04553369,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-6-9"
       width="0.78352141"
       height="6.2657533"
       x="-103.47073"
       y="-212.33388"
       transform="matrix(0.23353187,-0.97234915,-0.98017033,-0.1981568,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-1-3"
       width="0.78352129"
       height="6.2657533"
       x="-91.447823"
       y="-221.34993"
       transform="matrix(0.32600035,-0.94536965,-0.95655806,-0.29154189,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-8-6"
       width="0.78352141"
       height="6.2657533"
       x="-66.713623"
       y="-232.15276"
       transform="matrix(0.46154202,-0.88711835,-0.90325478,-0.42910466,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-7-0"
       width="0.78352135"
       height="6.2657533"
       x="-54.743591"
       y="-238.08987"
       transform="matrix(0.55401781,-0.83250481,-0.85202687,-0.52349805,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-9-6"
       width="0.78352141"
       height="6.2657533"
       x="-26.472807"
       y="-242.93069"
       transform="matrix(0.67205256,-0.74050345,-0.76436151,-0.64478794,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-20-2"
       width="0.78352129"
       height="6.2657533"
       x="-15.584869"
       y="-243.98903"
       transform="matrix(0.72702818,-0.68660762,-0.71249246,-0.70167976,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-23-6"
       width="0.78352141"
       height="6.2657533"
       x="0.092738234"
       y="-243.74425"
       transform="matrix(0.79034791,-0.61265829,-0.64088532,-0.76763664,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-75-1"
       width="0.78352129"
       height="6.2657533"
       x="36.961094"
       y="-237.81563"
       transform="matrix(0.90116026,-0.43348609,-0.4658447,-0.88486649,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-92-8"
       width="0.78352129"
       height="6.2657533"
       x="57.052986"
       y="-230.94492"
       transform="matrix(0.94733886,-0.32023286,-0.35433854,-0.93511721,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-28-7"
       width="0.78352141"
       height="6.2657533"
       x="76.286217"
       y="-221.73532"
       transform="matrix(0.97931091,-0.20236143,-0.23770261,-0.97133798,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-97-9"
       width="0.78352129"
       height="6.2657533"
       x="80.19651"
       y="-216.4832"
       transform="matrix(0.98936475,-0.14545581,-0.18119851,-0.98344654,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-3-2"
       width="0.78352141"
       height="6.2657533"
       x="-126.81818"
       y="-195.49315"
       transform="matrix(0.08168965,-0.99665782,-0.9989628,-0.04553369,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-6-0"
       width="0.78352141"
       height="6.2657533"
       x="148.19209"
       y="-151.86452"
       transform="matrix(0.23353187,0.97234915,-0.98017033,0.1981568,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-1-2"
       width="0.78352129"
       height="6.2657533"
       x="154.12894"
       y="-136.79765"
       transform="matrix(0.32600035,0.94536965,-0.95655806,0.29154189,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-8-3"
       width="0.78352141"
       height="6.2657533"
       x="165.66809"
       y="-112.53915"
       transform="matrix(0.46154202,0.88711835,-0.90325478,0.42910466,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-7-7"
       width="0.78352135"
       height="6.2657533"
       x="165.34528"
       y="-94.412453"
       transform="matrix(0.55401781,0.83250481,-0.85202687,0.52349805,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-9-59"
       width="0.78352141"
       height="6.2657533"
       x="172.11197"
       y="-68.579605"
       transform="matrix(0.67205256,0.74050345,-0.76436151,0.64478794,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-20-22"
       width="0.78352129"
       height="6.2657533"
       x="168.86501"
       y="-55.340668"
       transform="matrix(0.72702818,0.68660762,-0.71249246,0.70167976,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-23-8"
       width="0.78352141"
       height="6.2657533"
       x="165.60167"
       y="-38.723644"
       transform="matrix(0.79034791,0.61265829,-0.64088532,0.76763664,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-75-97"
       width="0.78352129"
       height="6.2657533"
       x="157.70953"
       y="-4.0323009"
       transform="matrix(0.90116026,0.43348609,-0.4658447,0.88486649,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-92-3"
       width="0.78352129"
       height="6.2657533"
       x="149.4989"
       y="14.787583"
       transform="matrix(0.94733886,0.32023286,-0.35433854,0.93511721,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-28-6"
       width="0.78352141"
       height="6.2657533"
       x="138.48262"
       y="32.273392"
       transform="matrix(0.97931091,0.20236143,-0.23770261,0.97133798,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-97-1"
       width="0.78352129"
       height="6.2657533"
       x="127.67834"
       y="40.150791"
       transform="matrix(0.98936475,0.14545581,-0.18119851,0.98344654,0,0)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#a7a7a7;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.02651454;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-5-2-9-1-7-1-3-29"
       width="0.78352141"
       height="6.2657533"
       x="129.58353"
       y="-174.29147"
       transform="matrix(0.08168965,0.99665782,-0.9989628,0.04553369,0,0)" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer5"
     inkscape:label="New length nodes"
     style="display:inline">
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6"
       width="0.87224144"
       height="16.248158"
       x="53.316689"
       y="-107.66893"
       transform="rotate(120.92178)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-7"
       width="0.87224144"
       height="16.248158"
       x="-24.552526"
       y="-115.11049"
       transform="rotate(145.8436)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-5"
       width="0.87224144"
       height="16.248158"
       x="-112.17157"
       y="-74.508141"
       transform="rotate(179.78716)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-3"
       width="0.87224144"
       height="16.248158"
       x="-164.483"
       y="8.3931446"
       transform="rotate(-147.02308)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-56"
       width="0.87224144"
       height="16.248158"
       x="169.24344"
       y="-103.20879"
       transform="rotate(59.36065)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-9"
       width="0.87224144"
       height="16.248158"
       x="131.17017"
       y="-182.55617"
       transform="rotate(88.869175)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-2"
       width="0.87224144"
       height="16.248158"
       x="53.362225"
       y="-234.97098"
       transform="rotate(120.35585)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-2-1"
       width="0.87224144"
       height="16.248158"
       x="-18.568298"
       y="-242.56352"
       transform="rotate(145.60582)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-2-2"
       width="0.87224144"
       height="16.248158"
       x="-114.04504"
       y="-200.40712"
       transform="rotate(-179.52172)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-2-7"
       width="0.87224144"
       height="16.248158"
       x="-166.90868"
       y="-119.56293"
       transform="rotate(-147.18059)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-2-0"
       width="0.87224144"
       height="16.248158"
       x="167.29904"
       y="22.447058"
       transform="rotate(60.126943)" />
    <rect
       style="display:inline;opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.04504976;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker-start:none;marker-end:none"
       id="rect8466-6-7-6-2-0-6"
       width="0.87224144"
       height="16.248158"
       x="127.42568"
       y="-57.982475"
       transform="rotate(90.420876)" />
  </g>
  <g
     inkscape:label="Progress Bar"
     inkscape:groupmode="layer"
     id="layer1"
     style="display:inline">
    <path
       style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#e1502e;stroke-width:1.93466675;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:{{timerObject.dasharray}};stroke-dashoffset:{{timerObject.dashoffset}};stroke-opacity:1;marker-start:none;marker-end:none"
       id="path9015"
       sodipodi:type="arc"
       sodipodi:cx="112.94863"
       sodipodi:cy="129.55685"
       sodipodi:rx="71.27446"
       sodipodi:ry="70.875526"
       sodipodi:start="4.6982728"
       sodipodi:end="4.697961"
       sodipodi:open="true"
       d="m 111.94254,58.688389 a 71.27446,70.875526 0 0 1 72.27337,69.862481 71.27446,70.875526 0 0 1 -70.25008,71.87429 71.27446,70.875526 0 0 1 -72.28432,-69.85127 71.27446,70.875526 0 0 1 70.23881,-71.885185" />
  </g>
</g>

</svg>
</div>
