@font-face {
  font-family: FjallaRegular;
  src: url("../../../assets/fonts/FjallaOne-Regular.ttf") format("truetype");
}
:host {
  display: block;
}

svg {
  width: 100%;
  height: 100%;
}
