@font-face {
  font-family: FjallaRegular;
  src: url("../../../assets/fonts/FjallaOne-Regular.ttf") format("truetype");
}

.svgDiv{
  height:500px;
  width:500px;
  background-color: orange;


}

svg{




}
